body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background-color: black;
    font-size: 24px;
}
td {
    height: 30%;   
}
h1#title {
    margin-left: 35%;
    margin-top: 10%;
    font-size: 90px;
}
div#details {
    margin-left: 30%;
    width: 40%;
}
button.go-btn {
    width: 100%;
    background-color: aqua;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    border-color: black;
    outline: none;
}
input.text-box {
    background-color: black;
    color: white;
    border-radius: 0px;
    font-size: 20px;
}
button.button {
    background-color: darkred;
    outline: none;
    border-color: black;
    height: 35px;
    width: 100%;
    font-size: 20px;
}
button.clear, button.update {
    width: 45%;
}
button.remove {
    font-size: 20px;
    outline: none;
    border-radius: 0px;
    width: 100%;
    border-color: black;
    background-color: cornflowerblue;
}
button.edit {
    font-size: 20px;
    outline: none;
    border-radius: 0px;
    background-color: cornflowerblue;
    border-color: black;
    width: 80%;
}
div#signup {
    margin-top: 10%;
    margin-left: 3%;
    width: 50%;
}
/* Sign in fix */
div.unfixed {
    margin-top: -30.65%;
}
div.fixed {
    margin-top: -33.1%;
}
div#signin {
    margin-right: 5%;
    position: absolute;
    width: 45%;    
    margin-left: 50%;
}
button.signout {
    background-color: cornflowerblue;
    width: 200px;
    position: absolute;
    margin-left: 72%;
    margin-top: -4%;
    border-color: black;
    outline: none;
}
input.remember {
    width: 20px;
    display: inline;
    margin-top: -7px;
    margin-right: 5px;
    outline: none;
}
p.copyright {
    color: white;
    text-align: center;
    margin-top: 14px;
    font-size: 19px;
    margin-left: 3px;
}