body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background-color: black;
    font-size: 24px;
}
h1#title {
    margin-left: 35%;
    margin-top: 10%;
    font-size: 90px;
}
div#details {
    margin-left: 30%;
    width: 40%;
}
button.go-btn {
    width: 100%;
    background-color: aqua;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    border-color: black;
    outline: none;
}
input.text-box {
    background-color: black;
    color: white;
    border-radius: 0px;
    font-size: 20px;
}
button.button {
    background-color: aqua;
    outline: none;
    border-color: black;
}