<!DOCTYPE>
<html ng-app="myApp">
<head>
    
    <!-- Latest compiled and minified CSS -->
    <!-- Embed fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=greek' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Get CSS -->
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <title>Identity</title>
</head>    
<body>
    <div class="container" ng-controller="AppCtrl">
    <center><h1 style="font-size: 60px;">I D E N T I T Y</h1></center>
        <h1>Hello {{ user }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th><h3>Name</h3></th>
                    <th><h3>Email</h3></th>
                    <th><h3>Phone number</h3></th>
                    <th><h3>Action</h3></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control text-box" ng-model="contact.name" /></td>
                    <td><input class="form-control text-box" ng-model="contact.email" /></td>
                    <td><input class="form-control text-box" ng-model="contact.number" /></td>
                    <td><button class="button add" ng-click="addContact()">Add Contact</button></td>
                    <td><button class="button update" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="button clear" ng-click="deselect()">Clear</button></td>
                </tr>
                <tr ng-repeat="contact in contactlist">
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.number}}</td>
                    <td><button class="remove" ng-click="remove(contact._id)">Remove</button></td>
                    <td><button class="edit" ng-click="edit(contact._id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
</body>
</html>